<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
    <h1>Messages</h1>
    <section>
        <% messages.forEach(message => { %>
            <div>
                <%= message.text %>
                <div>
                    <%= message.user %>
                    <%= message.added %>
                </div>
            </div>
        <% }) %>

    </section>
</body>
</html>