<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
    <h1>New Message</h1>
    <form action="/new" method="POST">
        <label>
            Message:
            <textarea name="message"></textarea>
        </label>
        <label>
            Your name:
            <input type="text" name="user">
        </label>
        <div>
            <a href="/">Back</a>
            <button type="submit">Send</button>
        </div>
    </form>
</body>
</html>